nav .navbar-right .navbar-items .active, .sidebar .sidebar-items .active {
  border-bottom: 2px solid var(--highlight-color);
}

/* Header */
.header-container {
  padding: 20% 0 5% 0;
  display: grid;
  grid-template-areas: 'title img '
                       'content img ';
  grid-template-columns: 50% 50%;
  position: relative;
}
.header-container::before {
  content: '';
  background-color: #F2F2F2;
  width: calc(2 * var(--side-margin) + 101%);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(-1.1 * var(--side-margin));
  z-index: -10;
}
.header-container .title {
  grid-area: title;
  display: inline;
}
.header-container .title span{
  font-size: 0.85rem;
  letter-spacing: 2px;
  color: rgb(65, 65, 65);
  position: relative;
}
.header-container .title span::before {
  content: '';
  display: block;
  position: absolute;
  top: -5;
  left: 0;
  width: 27%;
  border-top: 5px solid var(--highlight-color);
  border-radius: 100vh;
}
.header-container .header-content {
  grid-area: content;
  width: 100%;
}
.header-container .header-content p {
  margin: 2rem 0;
  width: 90%;
}
.header-container img {
  grid-area: img;
  width: 100%;
}

.question-container {
  padding: 5% 0 5% 0;
}
.question-container .question {
  padding: 1rem;
  background-color: #F2F2F2;
  margin: 0 0 1rem 0;
  border-radius: 5px;
  user-select: none;
}
.question-container .question .answer {
  display: none;
  margin: 1rem 0.5rem;
  padding: 0.3rem;
  background-color: white;
  user-select: none;
}
.question-container .active .answer {
  display: block;
}
.question-container .question i {
  transform: rotate(-90deg);
  transition: 0.3s ease-in-out;
  float: right;
}
.question-container .question:hover i {
  color: var(--highlight-color);
}
.question-container .active i {
  transform: none;
  color: var(--highlight-color);
}

.question-container .active {
  padding-bottom: 0.1rem;
}


@media only screen and (max-width: 950px) {
  .header-container {
    grid-template-columns: 100%;
    grid-template-areas:'title'
                        'content'
                        'img';
  }
}