/* Header */
.header-container {
  padding: 10rem 0;
  display: grid;
  grid-template-areas: 'title img '
                       'content img ';
  grid-template-columns: 50% 50%;
  position: relative;
}
.header-container::before {
  content: '';
  background-color: #F2F2F2;
  width: calc(2 * var(--side-margin) + 101%);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(-1.1 * var(--side-margin));
  z-index: -10;
}
.header-container .title {
  grid-area: title;
  display: inline;
}
.header-container .title span{
  font-size: 0.9rem;
  letter-spacing: 3px;
  color: rgb(65, 65, 65);
  position: relative;
}
.header-container .title span::before {
  content: '';
  display: block;
  position: absolute;
  top: -5;
  left: 0;
  width: 27%;
  border-top: 5px solid var(--highlight-color);
  border-radius: 100vh;
}
.header-container .header-content {
  grid-area: content;
  width: 100%;
}
.header-container img {
  grid-area: img;
  width: 100%;
}

/* Info */

.info-container {
  display: grid;
  grid-template-columns: 50% 50%;
  /* gap: 5%; */
}
.info-container .info-box {
  /* margin-right: 5%; */
}
.info-container .info-box .title {

}
.info-container .info-box .title-note {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
.info-container .info-box .text {

} 
.info-container .info-box .link {

}


@media only screen and (max-width: 950px) {
  .header {
    grid-template-columns: 100%;
    grid-template-areas:'title'
                        'content'
                        'img';
  }
}