/* Header */
.header-container {
  padding: 20% 0 5% 0;
  display: grid;
  grid-template-areas: 'title img '
                       'content img ';
  grid-template-columns: 50% 50%;
  position: relative;
}
.header-container::before {
  content: '';
  background-color: #F2F2F2;
  width: calc(2 * var(--side-margin) + 101%);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(-1.1 * var(--side-margin));
  z-index: -10;
}
.header-container .title {
  grid-area: title;
  display: inline;
}
.header-container .title span{
  font-size: 0.85rem;
  letter-spacing: 2px;
  color: rgb(65, 65, 65);
  position: relative;
}
.header-container .title span::before {
  content: '';
  display: block;
  position: absolute;
  top: -5;
  left: 0;
  width: 27%;
  border-top: 5px solid var(--highlight-color);
  border-radius: 100vh;
}
.header-container .header-content {
  grid-area: content;
  width: 100%;
}
.header-container img {
  grid-area: img;
  width: 100%;
}

/* Info */

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 5% 0;
}
.info-container .info-box {
  /* margin-right: 5%; */
}
.info-container .info-box .title {
  font-size: 1.15rem;
  margin: 0.2rem 0;
}
.info-container .info-box .title-note {
  font-size: 0.8rem;
}
.info-container .info-box .title-note b{
  color: #A1D87F;
}
.info-container .info-box .text {
  margin: 1.5rem 0;
  font-size: 0.85rem;
  line-height: 1.2rem;
} 
.info-container .info-box .link {
  font-size: 0.85rem;
  cursor: pointer;
}
.info-container .info-box .link i {
  transition: 0.1s ease-in-out;
}
.info-container .info-box .link:hover span {
  border-bottom: 1px solid black;
}
.info-container .info-box .link:hover i {
  padding-left: 0.2rem;
  color: var(--highlight-color)
}


@media only screen and (max-width: 950px) {
  .header-container {
    grid-template-columns: 100%;
    grid-template-areas:'title'
                        'content'
                        'img';
  }
}