* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  --speed: 0.2s;
  --button-text: white;
  --highlight-color: rgb(98, 0, 255);
}
body {
  /* overflow-x: hidden; */
  /* position: relative; */
}
.body-container {
  transition: var(--speed) ease-in-out;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
button {
  margin: 0;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}
button:hover {
  filter: brightness(110%);
}
button:active{
  filter: brightness(90%);
}
button:focus {
  outline: none;
}
a {
  color: black;
  -webkit-user-drag: none;
}

/* Main Navbar*/

nav {
  display: flex;
  margin: 0 5%;
  position: fixed;
  width: 90%;
  max-width: 90%;
}
.navbar-right {
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 0%;
}
.navbar-items {
  display: flex;
  padding-left: 0;
  transition: var(--speed) ease-in-out;
}
.navbar-items li {
  /* display: inline-block; */
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  min-width: 0;
  transition: var(--speed) ease-in-out;
}
nav li a:hover {
  border-bottom: 1px solid black;
}
nav .title {
  font-size: 1.5rem;
  margin: 1rem 1.5rem;
  display: flex;
  cursor: pointer;
}
.nav-icons {
  display: flex;
  align-items: center;
}
.nav-icons i {
  margin: 1rem;
  cursor: pointer;
}
.nav-icons i:hover, nav .title:hover {
  color: grey;
}
.nav-icons .menu-button {
  display: none;
}

/* Sidebar */

.sidebar {
  position: absolute;
  width: 12rem;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  transform: translateX(-100%);
  transition: ease-in-out 0.5s;
  z-index: 10;
}
.sidebar-active {
  transform: translateX(0);
}
.sidebar-items {
  margin: 1rem;
  margin-top: 4rem;
}
.sidebar-items li{
  margin: 0.7rem;
}
.sidebar-items li a{
  cursor: pointer;
}
.sidebar-items li a:hover{
  border-bottom: 1px solid black;
}

.container {
  display: grid;
  /* background-color: red; */
  /* min-height: 90%; */
  max-width: 100%;
}

/* hero image */
.background-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: -10;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem;
  min-height: 40rem;
  width: 100%;
  max-width: 100%;
}

/* Banner */

.banner {
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 15% 0 0 5%;
}
.banner div {
  margin-left: 1.5rem;
}
.banner h1 {
  margin: 1rem 0;
  user-select: none;
}
.banner div button{
  padding: 0.7rem;
  font-size: 0.8rem;
  background-color: var(--highlight-color);
  color: var(--button-text);
}
.info {
  display: flex;
  margin: 30% 0 0 5%;
  background-color: white;
}
.info i {
  margin-bottom: 1rem;
}
.info .info-box {
  width: 27%;
  margin: 1.5rem 5% 0 0;
}

.testimonial {
  margin: 5% 5% 1% 5%;
  display: flex;
  flex-direction: row;
}
.testimonial .header {
  display: inline;
}
.testimonial .header span {
  font-size: 0.9rem;
  letter-spacing: 3px;
  color: rgb(65, 65, 65);
  position: relative;
}
.testimonial .header span::before {
  content: '';
  display: block;
  position: absolute;
  top: -5;
  left: 0;
  width: 27%;
  border-top: 5px solid var(--highlight-color);
  border-radius: 100vh;
}
.testimonial .content {
  width: 50%;
}
.testimonial .quote {
  margin-top: 20%;
  position: relative;
}
.testimonial .quote::before {
  content: '"';
  font-size: 8rem;
  position: absolute;
  top: -45;
  left: -35;
  color: rgba(1,1,1,0.05);
}
.testimonial .quote .text {
  margin-top: 5%;
  width: 70%;
}
.testimonial .quote .text::after {
  content: 'wtf is happening here';
  /* font-size: 8rem; */
  position: absolute;
  bottom: 0;
  right: 0;
  /* color: rgba(1,1,1,0.05); */
}
.testimonial .quote .author {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 5%;
  width: 70%;
}
.testimonial .image {
  width: 50%;
}
.testimonial .image img {
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .banner {
    margin-top: 7rem;
    max-width: 100%;
  }
}
@media only screen and (max-width: 770px) {
  .navbar-right {
    margin-left: auto;
    grid-template-columns: 0fr 4rem;
  }
  .nav-icons .menu-button {
    display: block;
  }
  .navbar-items {
    width: 0%;
    animation: slideAndHide var(--speed) forwards;
  }
  .navbar-items li {
    margin: 0;
  }
  @keyframes slideAndHide {
    0% {width: 80%;}
    40% {width: 40%;}
    80% {width: 0%;}
    100% {
      visibility: none;
      overflow: hidden;
    }
  }

  nav .title {
    margin-left: 0;
  }
  nav .menu-button {
    margin-right: 0;
    margin-left: 2rem;
  }
  
  .banner div {
    margin: 0;
    max-width: 100%;
  }
  .info {
    margin-top: 15rem;
    flex-direction: column;
  }
  .info .info-box {
    width: 100%;
    margin-right: 0;
  }
  .testimonial {
    flex-direction: column;
  }
  .testimonial .content, .testimonial .image {
    width: 100%;
  }
  .testimonial .image {
    margin-top: 1rem;
  }

} 